* {
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background-color: #EDEFEE;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 1fr; /* Primo elemento (logo) con larghezza automatica */
    align-items: center;
    margin: auto;
    justify-content: center; /* Centra gli elementi orizzontalmente */
    padding: 10px; /* Aggiungiamo un po' di spazio ai bordi */
  }
  
  .nav ul {
    list-style: none;
    display: flex; /* Usiamo solo flex in quanto gli altri display sono deprecati */
    align-items: center; /* Centra gli elementi verticalmente */
    margin-left: 150px;
  }
  
  .nav ul li {
    margin: 10px; /* Aggiungiamo spazio tra i link */
  }
  
  .nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px; /* Aggiungiamo spazio interno ai link */
  }
  
  .nav ul li a:hover {
    color: red;
  }
  
  #logo {
    margin: 10px;
    max-height: 80px; /* Limita l'altezza del logo */
    width: auto;
  }

  .containerMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    place-items: center;
    background-color: #495E57;
    height: 75vh;
  }

  .containerMain img {
    border-radius: 20px;
    height: 75%;
    width: 50%;
  }

  .containerFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EDEFEE;
    height: 40vh;
    border-radius: 12px;
    text-align: center;
  }

  #logo2 {
    width: 100px;
    height: 200px;
    margin-top: 20%;
    margin-left: 10%;
  }  

  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
    margin-top: 10%;
    margin-left: 10%;
  }

  #bookingConfirmed {
    height: 50vh;
    background-color: #495E57;
    border-radius: 12px;
    text-align: center;
  }

  #bookingConfirmed h2 {
    color: yellow;
    font-weight: bold;
    padding-top: 100px;
  }

  #bookingConfirmed p {
    color: yellow;
    font-weight: bold;
    padding-top: 50px;
  }

  
  /* Aggiungiamo un media query per rendere la navbar flessibile su dispositivi con larghezza inferiore a 768px (esempio) */
  @media screen and (max-width: 768px) {
    .nav {
      grid-template-columns: 1fr; /* Usiamo una sola colonna per i dispositivi più piccoli */
    }
  
    .nav ul {
      flex-direction: column; /* Impila gli elementi verticalmente */
      margin: 10px 0; /* Aggiungiamo spazio tra il logo e i link per i dispositivi mobili */
    }
  
    .nav ul li {
      margin: 8px 0; /* Riduciamo lo spazio tra i link per i dispositivi mobili */
    }
  
    .nav ul li a {
      padding: 8px 20px; /* Riduciamo lo spazio interno ai link per i dispositivi mobili */
    }
  }



  
  
  
  
  